pandas
numpy
sqlalchemy
psycopg2-binary
python-dotenv
scikit-learn
xgboost
matplotlib
seaborn
jupyter
imbalanced-learn
shap
tensorflow
networkx
python-louvain
fastapi
uvicorn
requests
joblib
streamlit